body {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 5%;
}

#PenguinPic {
	width: 50%;
	height: 35%;
	border: solid;
	border-color: black;
}

#AlertPic{
	width: 50%;
	height: 35%;
	border: solid;
	border-color: black;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

#QueryPic {
	width: 60%;
	height: 15%;
}