#PenguingPic {
	width: 40%;
	height: 50px;
	text-align: center;
}

#AlertPic{
	width: 40%;
	height: 50px;
	text-align: center;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

#QueryPic {
	width: 40%;
	height: 30px;
}